@import "tailwindcss";

@theme {
  --color-background: #070707;
  --color-surface: #111111;
  --color-gold: #C6A86B;
  --color-gold-light: #E3C68F;
  --color-muted: #A8A8A8;
  --color-text: #FFFFFF;

  --font-heading: var(--font-heading);
  --font-sans: var(--font-sans);
}

html {
  scroll-behavior: smooth;
}

body {
  background: #070707;
  color: white;
  overflow-x: hidden;
}

::selection {
  background: #C6A86B;
  color: black;
}